<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{Col1Title}}</th>
      <th scope="col">{{Col2}}</th>
      <th scope="col">{{Col3}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">{{labelData[0]}}</th>
      <td>1</td>
      <td>{{fieldData[0]}}</td>
    </tr>
    <tr>
      <th scope="row">{{labelData[1]}}</th>
      <td>2</td>
      <td>{{fieldData[1]}}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">{{labelData[2]}}</th>
      <td>3</td>
      <td>{{fieldData[2]}}</td>
    </tr>
    <tr class="table-success">
      <th scope="row">{{labelData[3]}}</th>
      <td>5</td>
      <td>{{fieldData[3]}}</td>
    </tr>
    <tr class="table-danger">
      <th scope="row">{{labelData[4]}}</th>
      <td>6</td>
      <td>{{fieldData[4]}}</td>
    </tr>
    <tr class="table-warning">
      <th scope="row">{{labelData[5]}}</th>
      <td>7</td>
      <td>{{fieldData[5]}}</td>
    </tr>
    <tr class="table-info">
      <th scope="row">{{labelData[6]}}</th>
      <td>8</td>
      <td>{{fieldData[6]}}</td>
    </tr>
  </tbody>
</table>

